<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace must point Dao interface -->
<mapper namespace="com.language.dao.DUserMapper">
	<!-- d_user query field-->
	<sql id="columns">
      id,
      name,
      mobile,
      note,
      create_time,
      update_time
	</sql>
	
	<!-- d_user result map-->
  <resultMap type="DUser" id="DUserMap">
		<id column="id" property="id"/>
    	<result column="name" property="name"/>
    	<result column="mobile" property="mobile"/>
    	<result column="note" property="note"/>
    	<result column="create_time" property="createTime"/>
    	<result column="update_time" property="updateTime"/>
  </resultMap>
  
  <!-- save d_user -->
  <insert id="save" parameterType="DUser" >
		insert into d_user (
		<include refid="columns"/>)
			values (
					#{id},
						#{name},
						#{mobile},
						#{note},
						Now(),
						#{updateTime}
				)
	</insert>
	
	<!-- update d_user -->
	<update id="update" parameterType="DUser">
	    UPDATE d_user 
	    <set>
				<if test="name != null">name = #{name}, </if>
					<if test="mobile != null">mobile = #{mobile}, </if>
					<if test="note != null">note = #{note}, </if>
						<if test="updateTime != null">update_time = #{updateTime}, </if>
		    </set>
	    WHERE id = #{id}
  </update>
  
  <!-- 分页查询 -->
	<select id="searchByPage" parameterType="map" resultMap="DUserMap">
		SELECT <include refid="columns" /> FROM d_user
			<where>
				    <if test="id != null"> id = #{id} </if>			
						<if test="name != null"> name = #{name} </if>		
						<if test="mobile != null"> mobile = #{mobile} </if>		
						<if test="note != null"> note = #{note} </if>		
						<if test="createTime != null"> create_time = #{createTime} </if>		
						<if test="updateTime != null"> update_time = #{updateTime} </if>		
				</where>
	</select>
  
  <!-- query d_user by primary key -->
  <select id="findById"  resultMap="DUserMap" parameterType="Long">
		SELECT <include refid="columns"/>  FROM d_user where id=#{id}
	</select>
	
	<!-- delete d_user by primary key -->
  <delete id="deleteById"  parameterType="Long">
		delete FROM d_user where id=#{id}
  </delete>
</mapper> 