<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace must point Dao interface -->
<mapper namespace="com.language.dao.DUserForgettingCurveMapper">
	<!-- d_user_forgetting_curve query field-->
	<sql id="columns">
      ID,
      name,
      interval_time,
      interval_type,
      note,
      create_time,
      update_time
	</sql>
	
	<!-- d_user_forgetting_curve result map-->
  <resultMap type="DUserForgettingCurve" id="DUserForgettingCurveMap">
		<id column="ID" property="id"/>
    	<result column="name" property="name"/>
    	<result column="interval_time" property="intervalTime"/>
    	<result column="interval_type" property="intervalType"/>
    	<result column="note" property="note"/>
    	<result column="create_time" property="createTime"/>
    	<result column="update_time" property="updateTime"/>
  </resultMap>
  
  <!-- save d_user_forgetting_curve -->
  <insert id="save" parameterType="DUserForgettingCurve" >
		insert into d_user_forgetting_curve (
		<include refid="columns"/>)
			values (
					#{id},
						#{name},
						#{intervalTime},
						#{intervalType},
						#{note},
						Now(),
						#{updateTime}
				)
	</insert>
	
	<!-- update d_user_forgetting_curve -->
	<update id="update" parameterType="DUserForgettingCurve">
	    UPDATE d_user_forgetting_curve 
	    <set>
				<if test="name != null">name = #{name}, </if>
					<if test="intervalTime != null">interval_time = #{intervalTime}, </if>
					<if test="intervalType != null">interval_type = #{intervalType}, </if>
					<if test="note != null">note = #{note}, </if>
						<if test="updateTime != null">update_time = #{updateTime}, </if>
		    </set>
	    WHERE ID = #{id}
  </update>
  
  <!-- 分页查询 -->
	<select id="searchByPage" parameterType="map" resultMap="DUserForgettingCurveMap">
		SELECT <include refid="columns" /> FROM d_user_forgetting_curve
			<where>
				    <if test="id != null"> ID = #{id} </if>			
						<if test="name != null"> name = #{name} </if>		
						<if test="intervalTime != null"> interval_time = #{intervalTime} </if>		
						<if test="intervalType != null"> interval_type = #{intervalType} </if>		
						<if test="note != null"> note = #{note} </if>		
						<if test="createTime != null"> create_time = #{createTime} </if>		
						<if test="updateTime != null"> update_time = #{updateTime} </if>		
				</where>
	</select>
  
  <!-- query d_user_forgetting_curve by primary key -->
  <select id="findById"  resultMap="DUserForgettingCurveMap" parameterType="Long">
		SELECT <include refid="columns"/>  FROM d_user_forgetting_curve where ID=#{id}
	</select>
	
	<!-- delete d_user_forgetting_curve by primary key -->
  <delete id="deleteById"  parameterType="Long">
		delete FROM d_user_forgetting_curve where ID=#{id}
  </delete>
</mapper> 