<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace must point Dao interface -->
<mapper namespace="com.language.word.dao.BWordMapper">
	<!-- b_word query field-->
	<sql id="columns">
      id,
      name,
      translate,
	  pronunciation,
      type_id,
      note,
      create_time
	</sql>
	
	<!-- b_word result map-->
  <resultMap type="BWord" id="BWordMap">
		<id column="id" property="id"/>
    	<result column="name" property="name"/>
    	<result column="translate" property="translate"/>
	    <result column="pronunciation" property="pronunciation"/>
    	<result column="type_id" property="typeId"/>
    	<result column="note" property="note"/>
    	<result column="create_time" property="createTime"/>
  </resultMap>
  
  <!-- save b_word -->
  <insert id="save" parameterType="BWord"  useGeneratedKeys="true" keyProperty="id">
		insert into b_word (
		<include refid="columns"/>)
			values (
					#{id},
						#{name},
						#{translate},
	  					#{pronunciation},
						#{typeId},
						#{note},
						Now()
				)
	</insert>
	
	<!-- update b_word -->
	<update id="update" parameterType="BWord">
	    UPDATE b_word 
	    <set>
				<if test="name != null">name = #{name}, </if>
					<if test="translate != null">translate = #{translate}, </if>
					<if test="pronunciation != null">pronunciation = #{pronunciation}, </if>
					<if test="typeId != null">type_id = #{typeId}, </if>
					<if test="note != null">note = #{note}, </if>
			    </set>
	    WHERE id = #{id}
  </update>
  
  <!-- 分页查询 -->
	<select id="searchByPage" parameterType="map" resultMap="BWordMap">
		SELECT <include refid="columns" /> FROM b_word t
			<where>
				    <if test="id != null"> and t.id = #{id} </if>
						<if test="name != null"> and t.name = #{name} </if>
						<if test="translate != null"> and t.translate = #{translate} </if>
						<if test="typeId != null"> and t.type_id = #{typeId} </if>
						<if test="note != null"> and t.note = #{note} </if>
						<if test="createTime != null"> and t.create_time = #{createTime} </if>
						<if test="userId != null">
							!EXISTS(select * from d_user_word tt where t.id=tt.word_id and tt.user_id=#{userId})
						</if>

			</where>
	</select>
  
  <!-- query b_word by primary key -->
  <select id="findById"  resultMap="BWordMap" parameterType="Long">
		SELECT <include refid="columns"/>  FROM b_word where id=#{id}
	</select>
	
	<!-- delete b_word by primary key -->
  <delete id="deleteById"  parameterType="Long">
		delete FROM b_word where id=#{id}
  </delete>
</mapper> 